.App {
  text-align: center;
}

button {
  border-radius: .1875rem;
  padding: 0 2rem;
  border: none;
  outline: 0;
  font-size: .75rem;
  letter-spacing: .06563rem;
  text-decoration: none;
  line-height: 2.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.primary {
  background: linear-gradient(#3ae5bb,#30bf9b);
}

.secondary {
  background: #266baf;
}
